.styleNameUser{
    font-family: 'Comic Sans MS',  serif;
    font-size: 12pt;
    position: absolute;
    right: 20px;
    top: 8px;
    color:#7d7dd0;

    margin: 5px 0 0 5px;
}
.button{
    height: 25px;
    background:darkgrey;
    position: absolute;
    right: 2px;
    top: 14px;
}

button:hover{
    background: #b0ccf2; /* Цвет фона под ссылкой */
    color: black; /* Цвет ссылки */
}



